{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>New Athlete</h3>
    Form for new athlete, list all coachless athletes, and able to select one 
    {% for athlete in coachless_athletes %}
        
        <div class="card">
            <h5>{{ athlete.name }}</h5> 
            Age : {{ athlete.age }}
            Weight Class: {{ athlete.weightclass }}

            <form action="{{url_for('coach.athletes_add')}}" method="POST">
                <input type="hidden" value="{{athlete.email}}" name="Email">
                <button type="submit"class="btn-primary">Add</button>
            </form>
        </div>
    {% endfor %}
    <h3>My Athletes</h3>
    {% for coach_athlete in coach_athletes %}
         
        <div class="card">
            <h5>{{ coach_athlete.name }}</h5>
            Weight Class: {{ coach_athlete.weightclass }}
            <div>
                {% for session in coach_athlete.sessions %}
                    <div class="card">
                        Date: {{ session.date }}
                        {%for exercise in session.exercises %}
                            <div class="card">
                                Name: {{ exercise['Name'] }} </br>
                                Sets: {{ exercise['Sets'] }} </br>
                                Repetitions: {{ exercise['Repetitions'] }} </br>
                                Weight: {{ exercise['Weight'] }} </br>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}